# Copyright 2024 The Fuchsia Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

[Unit]
Description=Run fuchsia update and build nightly

[Timer]
OnCalendar=*-*-* 06:00:00

[Install]
WantedBy=timers.target
