# Copyright 2024 The Fuchsia Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

[Unit]
Description=Run a fuchsia update and build

[Service]
Type=oneshot
ExecStart=%Y/../multifuchsia sync_and_build_here
StandardOutput=journal
StandardError=journal
LimitNOFILE=infinity
