# {{rust_type}}

{{description}}

<table>
    <tr><th>Variant</th></tr>
    {{#each variants}}
        <tr id="{{this}}">
            <td><code>{{~ this ~}}</code></td>
        </tr>
    {{/each}}
</table>
