{{> header }}

<div>
<devsite-filter>
<input type="text" placeholder="Type a keyword here to find a config">

<table>
<thead><tr><th>Name</th><th>Description</th></tr></thead>
<tbody class="list">
{{#each data_types }}
<tr>
    <td><a href="{{~ @root.url_path ~}}{{~ rust_type ~}}">{{~ rust_type ~}}</a></td>
    <td>{{description}}</td>
</tr>
{{/each }}
</tbody>
</table>

</devsite-filter>
</div>
