# Copyright 2024 The Fuchsia Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

PermitRootLogin yes
StrictModes no

PubkeyAuthentication yes
PasswordAuthentication yes
PermitEmptyPasswords yes

AllowTcpForwarding no
GatewayPorts no
X11Forwarding no
PermitUserEnvironment yes
PidFile /tmp/sshd.pid

Port 7000
LogLevel DEBUG3
AddressFamily inet
