{{! Copyright 2024 The Fuchsia Authors. All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file. }}
<div>
    <h2>File content: {{this.[0]}}</h2>
    {{#if this.[1].elf}}
    <h3>ELF File</h3>
    <p>
        Source: {{ this.[1].elf.source_path }}
    </p>
    {{/if}}
    {{#if this.[1].other }}
    <h3>Non-binary file</h3>
    <p>
        Source: {{ this.[1].other.source_path }}
    </p>
    {{/if}}

    {{#if this.[2]}}
    <table class="contents-table">
        <thead>
            <th>Source File</th>
        </thead>
        {{#each this.[2]}}
        <tr>
            <td>{{this}}</td>
        </tr>
        {{/each}}
    </table>
    {{/if}}
</div>