{{! Copyright 2024 The Fuchsia Authors. All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file. }}
<div>
    <table class="contents-table">
        <thead>
            <th>URL</th>
            <th>Components</th>
        </thead>
        {{#each packages }}
        <tr>
            <td><a href="{{(package_link @key)}}">{{ @key }}</a></td>
            <td>
                {{#each this.components}}
                <p>{{@key}}</p>
                {{else}}
                <p>No contained components</p>
                {{/each}}
            </td>
        </tr>
        {{/each}}
    </table>
</div>